<nav class="navbar-container">
  <div class="navbar-logo">
    <a routerLink="/">CineVault</a>
  </div>

  <div class="navbar-links">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      Home
    </a>
    
    <a routerLink="/search" routerLinkActive="active-link" class="nav-item">
      Search
    </a>
    
    <a routerLink="/vault" routerLinkActive="active-link" class="nav-item">
      My Vault
    </a>
    
    <a routerLink="/discover" routerLinkActive="active-link" class="nav-item">
      Advanced Filter
    </a>
  </div>
</nav>