@if (movie) {
  <div class="details-container">
    <div 
      class="details-hero"
      [style.backgroundImage]="movie?.backdrop_path ? 'url(' + highResImageBaseUrl + movie.backdrop_path + ')' : 'none'"
    >
      <div class="details-hero__overlay"></div>
    </div>

    <div class="details-content">
      <img 
        class="details-content__poster" 
        [src]="imageBaseUrl + movie.poster_path" 
        [alt]="movie.title"
      >

      <div class="details-content__info">
        <h1>{{ movie.title }}</h1>
        
        <div class="meta-data">
          <span>{{ getReleaseYear(movie.release_date) }}</span>
          <span class="separator">•</span>
          <span class="rating">{{ movie.vote_average.toFixed(1) }}/10</span>
        </div>

        <p class="overview">{{ movie.overview }}</p>

        <div class="button-group">
  @if (trailerUrl) {
    <button class="btn-play" (click)="openTrailer()">
      ▶ Watch Trailer
    </button>
  }

  <button class="btn-vault" [class.saved]="isSaved" (click)="toggleVault()">
    {{ isSaved ? 'Remove from Vault' : 'Add to Vault' }}
  </button>
</div>
      </div>
    </div>
  </div>

  @if (showTrailer) {
  <div class="trailer-modal-backdrop" (click)="closeTrailer()">
    <div class="trailer-modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeTrailer()">✕</button>
      
      <div class="iframe-wrapper">
        <iframe 
          [src]="trailerUrl" 
          frameborder="0" 
          allow="autoplay; encrypted-media; fullscreen" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
}
} @else {
  <div class="loader-container">
    <div class="spinner"></div>
  </div>
}