<a [routerLink]="['/details', movie.media_type || (movie.first_air_date ? 'tv' : 'movie'), movie.id]" class="movie-card">
  
  <div class="poster-wrapper">
    <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : 'assets/no-poster.png'" [alt]="movie.title">
    
    @if (movie.vote_average && movie.vote_average > 0) {
      <div class="card-rating">
        {{ movie.vote_average | number:'1.1-1' }}
      </div>
    }
  </div>

  <h3>{{ movie.title || movie.name }}</h3>
  <span>{{ ((movie.release_date || movie.first_air_date) | date:'yyyy') || 'N/A' }}</span>

</a>