<a class="movie-card" [routerLink]="getRouteUrl()">
  
  <div class="movie-card__poster-wrap">
    <img
      class="movie-card__poster"
      [src]="imageBaseUrl + movie.poster_path" 
      [alt]="(movie.title || movie.name) + ' poster'"
    />
    <span class="movie-card__rating">{{ movie.vote_average?.toFixed(1) }}</span>
  </div>

  <div class="movie-card__content">
    <h3 class="card-title">{{ movie.title || movie.name }}</h3>
    <span class="card-year">{{ getYear() }}</span>  
  </div>
</a>